* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-grid {
    background-color: red;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.my-grid > div {
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    grid-column: 3 / 4;
}